body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #0070b8;
}

h1 {
    text-align: center;
    color: white;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
}

.grid-form div {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    grid-column: 1 / -1;
    justify-self: center;
}

#resultados {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}
